<!DOCTYPE html>
<html>
<head>
    <title>Chat form</title>
</head>
<body>
    <h1>Chat List</h1>
    <form action="/chatCrud/addChat" method="post">
    <label for="dateSent">Sent Date:</label>
    <input type="Date" id="dateSent" name="dateSent" required>
    
    <label for="message">Message :</label>
    <input type="text" id="message" name="message" required>
    
    <button type="submit">Submit</button>
    </form>
</body>
</html>